body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  border-radius: 10px;
  width: 340px;
  padding: 10px;
}

.container button {
  margin-top: 20px;
  opacity: 44%;
}

.container button:hover {
  opacity: 100%;
}
